html:has(.modal.open) {
    overflow: hidden;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    transition: all .3s;
}

.modal .modal-backdrop {
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.modal .modal-backdrop .modal-content {
    background-color: white;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 80%;
}

.modal .modal-head {
    text-align: end;
}

.modal .modal-body {
    padding-inline: 20px;
    overflow-y: auto;
    height: calc(100% - 40px - 20px);
}